.postdate {
  font-family: monospace;
  font-size: 0.8em;
  margin-right: 0.5em;
}

.postlink {
  color: white;
  text-decoration: none;
}

.dark {
  color: #f9f9f9;
  background-color: #333;
}

#dark-button {
  width: 50px;
}

.toggle {
  font-size: 18px;
  position: fixed;
  left: 0px;
  top: -4px;
}

.toggle button:focus:enabled, button:hover:enabled, button:focus:enabled, button:hover:enabled{
  background-color: #4078c0;
}

.dark pre {
  background-color: #4a4a4a;
  color: #f1f1f1;
}

.dark code {
  background-color: #4a4a4a;
  color: #f1f1f1;
}

.dark hr {
  background-color: #f1f1f1;
}